.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .titulo {
    color: #333; /* Puedes ajustar el color según tus preferencias */
  }
  
  .contenido {
    display: inline-block;
    margin-top: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .calendario {
    margin: 10px;
  }
  
  .boton {
    background-color: #0074cc; /* Azul oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .boton:hover {
    background-color: #00568e; /* Cambia el color al pasar el ratón sobre el botón */
  }
  
  