<div class="mb-3 row">
  <div class="col-1">
    <label class="col-form-label">Tipo de identificación:</label>
    <input type="text" name="tipoIdentificacion" class="form-control" required />

    <label class="col-form-label">Nombre completo:</label>
    <input type="text" name="nombreCompleto" class="form-control" required />

    <label class="col-form-label">Contraseña:</label>
    <input type="password" name="contrasena" class="form-control" required />

    <label class="col-form-label">Teléfono celular:</label>
    <input type="text" name="telefonoCelular" class="form-control" required />
  </div>

  <div class="col-2">
    <label class="col-form-label">Numero identificación:</label>
    <input type="text" name="numeroIdentificacion" class="form-control" required />

    <label class="col-form-label">Correo:</label>
    <input type="text" name="correo" class="form-control" required />

    <label class="col-form-label">Confirmar correo:</label>
    <input type="text" name="confirmarCorreo" class="form-control" required />
  </div>

  <div class="text-center">
    <button (click)="registrar()" class="btn btn-primary" type="submit">
      <i class="fa-solid fa-circle-plus me-1"></i>Registrarse
    </button>
  </div>
</div>
