<!-- historia-clinica.component.html -->
<div class="container">
    <h2 class="titulo">Historia Clínica N° <span class="label-informacion">XXXXX</span></h2>

    <div class="separador"></div>

    <a href="/atender-cita" class="link-volver">< Volver</a>

    <div class="columnas-container">
        <div class="columna">
            <div class="campo">
                <label class="label">Fecha de la cita:</label>
                <label class="label-informacion">Información</label>
            </div>
            <div class="campo">
                <label class="label">Teléfono:</label>
                <label class="label-informacion">Información</label>
            </div>
            <div class="campo">
                <label class="label">Nombre del médico:</label>
                <label class="label-informacion">Información</label>
            </div>
        </div>

        <div class="columna">
            <div class="campo">
                <label class="label">Nombre del paciente:</label>
                <label class="label-informacion">Información</label>
            </div>
            <div class="campo">
                <label class="label">Ciudad:</label>
                <label class="label-informacion">Información</label>
            </div>
            <div class="campo">
                <label class="label">Especialidad:</label>
                <label class="label-informacion">Información</label>
            </div>
        </div>

        <div class="columna">
            <div class="campo">
                <label class="label">Tipo de identificación:</label>
                <label class="label-informacion">Información</label>
            </div>
            <div class="campo">
                <label class="label">EPS:</label>
                <label class="label-informacion">Información</label>
            </div>
        </div>
    </div>

    <div class="campos-autoexpandibles-container">
        <div class="campo">
            <label class="label">Motivo consulta:</label>
            <textarea class="input-autoexpandible-grande" placeholder="Motivo consulta"></textarea>
        </div>

        <div class="campo">
            <label class="label">Diagnóstico:</label>
            <textarea class="input-autoexpandible-grande" placeholder="Diagnóstico"></textarea>
        </div>

        <div class="campo">
            <label class="label">Tratamiento:</label>
            <textarea class="input-autoexpandible-grande" placeholder="Tratamiento"></textarea>
        </div>
    </div>
</div>