<div class="container">
    <a routerLink="/gestionar-citas" class="link"> &lt; Volver</a>
    <h2 class="titulo">Información de la cita</h2>

    <div class="info-container">
        <div class="columna">
            <div class="info-item">
                <label class="label">N° de la cita: </label>
                <span>123456</span>
            </div>
            <div class="info-item">
                <label class="label">Nombre del paciente:</label>
                <span>Juan Camilo Ramirez</span>
            </div>
            <div class="info-item">
                <label class="label">Fecha de solicitud: </label>
                <span>2023-11-18</span>
            </div>
            <div class="info-item">
                <label class="label">Fecha de la cita: </label>
                <span>2023-11-20</span>
            </div>
        </div>

        <div class="columna">
            <div class="info-item">
                <label class="label">Motivo:</label>
                <textarea disabled>Descripción del motivo...</textarea>
            </div>
            <div class="info-item">
                <label class="label">Tipo de documento: </label>
                <span>DNI</span>
            </div>
            <div class="info-item">
                <label class="label">N° de documento: </label>
                <span>12345678</span>
            </div>
        </div>
    </div>

    <hr class="separador">

    <h2 class="titulo">Información de la atención</h2>

    <div class="info-container">
        <div class="columna">
            <div class="info-item">
                <label class="label">N° de atención: </label>
                <span>987654</span>
            </div>
            <div class="info-item">
                <label class="label">Tratamiento: </label>
                <textarea disabled>Descripción del tratamiento...</textarea>
            </div>
        </div>
        <br>
        <div class="columna">
            <div class="info-item">
                <label class="label">Diagnóstico: </label>
                <textarea disabled>Descripción del diagnóstico...</textarea>
            </div>
        </div>
    </div>
</div>