/* modal-content.component.css */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h2 {
    color: #333; 
  }
  
  p {
    margin-top: 10px;
    color: #555; 
  }
  
  button {
    margin-top: 20px;
  }
  