/* modal-content.component.css */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px; /* Ajusta el ancho mínimo según tus necesidades */
    max-width: 80%;   /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h2 {
    color: #333; /* Cambia el color del texto según tus preferencias */
  }
  
  p {
    margin-top: 10px;
    color: #555; /* Cambia el color del texto según tus preferencias */
  }
  
  button {
    margin-top: 20px;
  }
  