<div class="container">
    <h1>Completar registro</h1>
    <h2>Datos personales</h2>
  
    <div class="columns">
      <!-- Columna 1 -->
      <div class="column">
        <label for="nombre">Nombre</label>
        <label>Erica Paola Rueda Usuga</label>
  
        <label for="correo">Correo</label>
        <label>ruedaerica1608@gmail.com</label>
  
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" id="ciudad" />
        </div>
  
        <div class="form-group">
          <label for="tipoSangre">Tipo de Sangre</label>
          <select id="tipoSangre">
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <label for="identificacion">Identificación</label>
        <label>CC - 1007686779</label>
  
        <label for="telefono">Teléfono</label>
        <label>3116881357</label>
  
        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" id="fechaNacimiento" />
        </div>
  
        <div class="form-group">
          <label for="eps">EPS</label>
          <input type="text" id="eps" />
        </div>
      </div>
    </div>
  
    <div class="buttons">
      <button class="btn">Ahora no</button>
      <button class="btn btn-highlight">Actualizar</button>
    </div>
  </div>
  