<div class="container">
    <h2 class="titulo">Actualiza tu información</h2>

    <div>
        <div class="columna">
            <div class="campo">
                <label class="label">Tipo de identificación:</label>
                <mat-select placeholder="Selecciona"></mat-select>
            </div>
            <div class="campo">
                <label class="label">Nombre completo:</label>
                <input type="text" placeholder="Nombre completo">
            </div>
            <div class="campo">
                <label class="label">Teléfono:</label>
                <input type="text" placeholder="Teléfono">
            </div>
            <div class="campo">
                <label class="label">Fecha de nacimiento:</label>
                <input type="date">
            </div>
            <div class="campo">
                <label class="label">EPS:</label>
                <mat-select placeholder="Selecciona" disabled></mat-select>
            </div>
        </div>

        <div class="columna">
            <div class="campo">
                <label class="label">Número de identificación:</label>
                <input type="text" placeholder="Número de identificación">
            </div>
            <div class="campo">
                <label class="label">Correo:</label>
                <input type="email" placeholder="Correo">
            </div>
            <div class="campo">
                <label class="label">Ciudad:</label>
                <mat-select placeholder="Selecciona"></mat-select>
            </div>
            <div class="campo">
                <label class="label">Tipo de sangre:</label>
                <mat-select placeholder="Selecciona"></mat-select>
            </div>
        </div>
    </div>
    <button class="boton-actualizar" mat-raised-button>Actualizar</button>
</div>
