.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .titulo {
    color: #333;
  }
  
  .tabla {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tabla th {
    background-color: #0074cc;
    color: white;
  }
  
  .acciones {
    display: flex;
    justify-content: space-around;
  }
  
  .icono {
    cursor: pointer;
  }
  
  .paginador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .mat-paginator {
    justify-content: center;
  }
  