<div class="container">
    <h1>Asignación de citas</h1>
  
    <div class="columns">
      <!-- Columna 1 -->
      <div class="column">
        <div class="info-group">
          <h2>Información del afiliado</h2>
          <label for="tipoIdentificacion">Tipo y número de identificación</label>
          <label>CC - 1007686779</label>
        </div>
  
        <div class="info-group">
          <h2>Información de contacto</h2>
          <label for="telefono">Teléfono</label>
          <label>311584789</label>
        </div>
  
        <div class="info-group">
          <h2>Información de citas</h2>
          <label for="especialidad">Especialidad</label>
          <select id="especialidad" [(ngModel)]="especialidad">
            <option value="medicinaGeneral">Consulta medicina general</option>
            <option value="odontologia">Odontología</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <div class="info-group">
          <label for="nombre">Nombre</label>
          <label>Erica Paola Rueda Usuga</label>
        </div>
  
        <div class="info-group">
          <label for="correo">Correo</label>
          <label>ericap.ruedau@uqvirtual.edu.co</label>
        </div>
  
        <div class="info-group">
          <label for="medicoTratante">Médico tratante</label>
          <select id="medicoTratante" [(ngModel)]="medicoTratante">
            <option value="">Seleccione</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
        </div>
      </div>
  
      <!-- Columna 3 -->
      <div class="column">
        <div class="info-group">
          <label for="eps">EPS</label>
          <label>SURA</label>
        </div>
  
        <button class="btn-consultar" (click)="consultarDisponibilidad()">Consultar disponibilidad</button>
      </div>
    </div>
  </div>
  
