.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .columns {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin-right: 20px;
  }
  
  .info-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .btn-consultar {
    background-color: #008080;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .btn-consultar:hover {
    background-color: #005353;
  }
  