<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./inicio.component.css">
  <title>Página de Inicio</title>
</head>
<body>

<div class="homepage-container">
    <br>
  <h1 class="homepage-title">Novedades</h1>
  <div class="carousel-container">
    <div class="slide">
        <div class="image-container">
            <img src="./assets/imagenes/vacuna.jpeg" alt="Imagen 1">
        </div>
      <div class="caption">
        <h2>Vacúnate por tu protección y la de tu familia</h2>
        <p>Mantente protegido de virus y enfermedades con el esquema de vacunación completo.</p>
      </div>
    </div>
    <div class="slide">
        <div class="image-container">
            <img src="./assets/imagenes/salud.jpeg" alt="Imagen 2">
        </div>
      <div class="caption">
        <h2>¿Sabes qué es el proyecto de gratuidad?</h2>
        <p>Busca eliminar barreras económicas de acceso a servicios de salud. Conócelo en nuestra página web.</p>
      </div>
    </div>
    <div class="slide">
        <div class="image-container">
            <img src="./assets/imagenes/examen.jpeg" alt="Imagen 3">
        </div>
      <div class="caption">
        <h2>Disfruta de un beneficio para tu salud visual</h2>
        <p>Por la compra de tus lentes y monturas, obtén un súper descuento.</p>
      </div>
    </div>
    <div class="slide">
        <div class="image-container">
            <img src="./assets/imagenes/familia.jpeg" alt="Imagen 4">
        </div>
        <div class="caption">
            <h2>Actividades de promoción y prevención</h2>
            <p>Conoce las actividades que realizamos dentro de la Ruta de promoción y prevención de la salud para acompañarte.</p>
        </div>
      </div>
  </div>
  <br>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core async></script>
  <div class="elfsight-app-31a4311f-a796-41fe-8cd9-56e84c842503" data-elfsight-app-lazy></div>
</div>
</body>
</html>
