body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .homepage-container {
    text-align: center;
  }
  
  .homepage-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .carousel-container {
    overflow: hidden;
    width: 80%;
    margin: auto;
    display: flex;
  }
  
  .slide {
    width: 25%;
    position: relative;
    margin-right: 10px; /* Espacio entre cada imagen */
  }
  
  .image-container {
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 220px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .caption h2,
  .caption p {
    margin: 0;
  }
  